.menu {
    background-color: slategray;
    height: 1em;
    width: 150px;
    overflow: hidden;
    font-family: sans-serif;
    border: 2px solid black;   
    display: inline-block;
    transition-duration: 1s;
}
.menu:hover {
    height: 8em;
    list-style: none;
}

ul {
    list-style: none;
}
a:link {
    text-decoration: none;
    color: darkgreen;
}

a:visited{
    color: purple;
}

a:hover{
    color: aliceblue;
}

