h1{
    color: #111911;
}
body {
    background-color: darkcyan;
    color: #111911;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    font-family: sans-serif;
    font-size: 16px;
}
img{
    position: absolute;
    margin-left: 16%;
    border-radius: 25px;
}
#bio{
    padding: 35px;
    margin-top: 3em;
    margin-left: 24%;
    min-height: 150px;
    line-height: 150%;
}
#main {
    text-align: center;
}
img {
    margin-top: 6%;
    width: 200px;
    height: 200px;
}
div{
    border-style: solid;
    border-width: 2px;
    margin-left: 3em;
    margin-top: 20px;
    border-radius: 25px;
    padding: 20px;
}

#left{
    position: relative;
    left: 3%;
    width: 70%;

}

#right{
    position: absolute;
    top: 150px;
    left: 30%;
    right: 5%;
    width: 40%;
    margin:auto;
}

.links {
    padding: 35px;
    max-width: 40%;
    margin-top: 250px;
}

#main {
  margin-left: 100px;
  text-align: center;
}

a:link{
    color: darkgreen;
    text-decoration: none;
}

a:visited{
    color: rebeccapurple;
}
a:hover{
    color: chocolate;
}
a:active{
    color: purple;
}
